.about__wrapper {
	display: flex;
	padding-bottom: 96px;
}

.about__picture {
	flex-shrink: 0;
	order: -1;
	margin-right: 100px;
}

.about__description-title {
	font-family: $secondary-font;
	font-size: 36px;
	line-height: 51px;
	font-weight: 400;
	color: #041827;
	margin: 0;
	margin-bottom: 15px;
}

.about__description-data {
	height: 145px;
	overflow: hidden;

	&--visible {
		height: auto;
		overflow: visible;
	}
}

.about__description-text {
	line-height: 22px;
	color: #041827;
	margin: 0;
  margin-bottom: 18px;

  &:last-child {
		margin: 0;
	}
}

.about__description-show {
	min-width: 180px;
	font-family: $secondary-font;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #00b2ff;
	padding: 14px 13px;
	margin-top: 40px;
	background-color: transparent;
	border: 1px solid #00b2ff;
	border-radius: 3px;
	cursor: pointer;
	user-select: none;

	&:hover,
	&:focus,
	&:active {
		background-color: #00b2ff;
		color: #ffffff;
	}
}

@media (max-width: 1919px) {
	.about__wrapper {
		padding-bottom: 78px;
	}

	.about__description-title {
		margin: 0;
		margin-bottom: 12px;
	}

	.about__description-data {
		height: 257px;

		&--visible {
			height: auto;
			overflow: visible;
		}
	}

	.about__picture {
		margin-right: 25px;
	}

	.about__description-show {
		margin-top: 20px;
	}
}

@media (max-width: 769px) {
	.about__wrapper {
		padding-bottom: 80px;
	}
	
	.about__picture {
		display: none;
	}

	.about__description-title {
		font-size: 28px;
		line-height: 140.62%;
		margin-bottom: 9px;
	}

	.about__description-data {
		height: 200px;

		&--visible {
			height: auto;
			overflow: visible;
		}
	}

	.about__description-text {
		font-size: 14px;
		line-height: 134.4%;
	}

	.about__description-show {
		min-width: 160px;
		margin-top: 20px;
		padding: 9px;
	}
}