.about__wrapper {
  display: flex;
  padding-bottom: 96px;
  max-width: 1220px;

  picture {
    flex-shrink: 0;
    order: -1;
    margin-right: 100px;
  }
}

.about__description {
  h2 {
    font-family: $secondary-font;
    font-size: 36px;
    line-height: 51px;
    font-weight: 400;
    color: #041827;
    margin: 0;
    margin-bottom: 15px;
  }

  button {
    display: none;
    min-width: 180px;
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #00b2ff;
    padding: 14px 13px;
    margin-top: 40px;
    background-color: transparent;
    border: 1px solid #00b2ff;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;

    &:hover,
    &:focus,
    &:active {
      background-color: #00b2ff;
      color: #ffffff;
    }
  }
}

.about__description-data {
  height: 145px;
  overflow: hidden;

  p {
    line-height: 22px;
    color: #041827;
    margin: 0;
    margin-bottom: 18px;

    &:last-child {
      margin: 0;
    }
  }

  &--visible {
    height: auto;
    overflow: visible;
  }
}

@media (max-width: 1023px) {
  .about__wrapper {
    padding-bottom: 78px;

    picture {
      margin-right: 25px;
    }
  }

  .about__description {
    h2 {
      margin: 0;
      margin-bottom: 12px;
    }

    button {
      margin-top: 20px;
    }
  }

  .about__description-data {
    height: 257px;

    &--visible {
      height: auto;
      overflow: visible;
    }
  }
}

@media (max-width: 767px) {
  .about__wrapper {
    padding-bottom: 80px;

    picture {
      display: none;
    }
  }

  .about__description {
    h2 {
      font-size: 28px;
      line-height: 140.62%;
      margin-bottom: 9px;
    }

    button {
      min-width: 160px;
      margin-top: 20px;
      padding: 9px;
    }
  }

  .about__description-data {
    height: 200px;

    p {
      font-size: 14px;
      line-height: 134.4%;
    }

    &--visible {
      height: auto;
      overflow: visible;
    }
  }
}