.address {
	margin-left: auto;
	margin-top: 7px;
	min-width: 345px;
}

.address__title {
	font-family: $secondary-font;
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-style: normal;
	color: #ffffff;
	margin: 0;
	margin-bottom: 25px;
}

.address__list {
	@include reset-list;
	height: 138px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 10px 30px;
	font-style: normal;
}

.address__item {
	width: 345px;
	color: rgba(255, 255, 255, 0.7);
}

.address__link {
	line-height: 135%;
	color: inherit;

	&:hover {
		color: rgba(255, 255, 255, 1);		
	}

	&:focus,
	&:active {
		color: rgba(255, 255, 255, 0.5);
	}
}

@media (max-width: 1919px) {
	.address {
		min-width: auto;
		margin-left: 0;
	}

	.address__list {
		flex-wrap: nowrap;
		height: auto;
	}

	.address__item {
		width: 320px;
	}
}

@media (max-width: 769px) {
	.address {
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		margin: 0;
		position: relative;
		// overflow: hidden;

		&::after {
			content: '';
			width: 100vw;
			height: 1px;
			background-color: #f8fdff;
			position: absolute;
			left: -25px;
			margin-left: -25px;
			transform: translateX(25px);
		}

		&::after {
			bottom: 0;
		}
	}

	.address__title {
		margin: 0;
		cursor: pointer;
		position: relative;

		&::after {
			content: '';
			width: 15px;
			height: 15px;
			background-image: url('../img/icons/plus.svg');
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		&--clicked {
			&::after {
				height: 1px;
				background-image: url('../img/icons/minus.svg');
			}
		}
	}

	.address__list {
		padding-top: 20px;
		gap: 10px;
		display: none;

		&--expanded {
			display: flex;
		}
	}

	.address__item {
		width: auto;
		font-size: 14px;

		&--title {
			margin-bottom: 16px;
		}
	}

	.address__link {
		font-size: 14px;
	}
}