@media (min-width: $mobile-width) {
  .container {
    padding: 0 25px;
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    margin: 0 auto;
    max-width: 1220px;
  }
}