.overlay {
	width: 100%;
	height: 100vh;
	background-color: rgba(3, 16, 27, 0.7);
	position: absolute;
	top: 0;
	left: 0;

	&--hidden {
		display: none;
	}
}

.overlay__contact {
	width: 500px;
	padding: 40px;
	background-color: #00B3FF;
	border-radius: 3px;
	position: fixed;
	top: 146px;
	left: 50%;
	transform: translateX(-50%);
}

.overlay__title {
	font-family: $secondary-font;
	font-weight: 400;
	font-size: 30px;
	line-height: 140.62%;
	color: #ffffff;
	margin: 0;
	margin-bottom: 15px;
}

.overlay__text {
	line-height: 22px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 40px;
}

.overlay__input {
	font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  width: 100%;
  background-color: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  padding: 14px;
  margin-bottom: 20px;
  outline: none;

  &::placeholder {
  	color: #ffffff;
  }
}

.overlay__area {
	font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  width: 100%;
  min-height: 155px;
  background-color: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  padding: 25px 15px;
  margin: 0 0 25px 0;
  resize: none;
  outline: none;

  &::placeholder {
  	color: #ffffff;
  }
}

.overlay__ask {
	font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #041427;
  color: #ffffff;
  padding: 13px 25px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.overlay__agreement {
	margin: 0;
}

.overlay__apply-label {
	display: block;
	width: 100%;
	padding-left: 26px;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	opacity: 0.8;
	position: relative;
	cursor: pointer;

	&::before,
	&::after {
		content: '';
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
	}

	&::before {
		width: 15px;
		height: 15px;
		border: 1px solid #ffffff;
		border-radius: 2px;
		left: 0;
	}
}

.overlay__apply {
	&:checked {
		~ .overlay__apply-label {
			&::after {
				width: 9px;
				height: 6px;
				background-image: url('../img/icons/check.svg');
				left: 3px;
			}
		}
	}
}

.overlay__close {
	padding: 0;
	background-color: transparent;
	border: none;
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
}