.promo {
  background-color: #041827;
  background-image: url('../img/desktop/promo-background.jpg');
  background-position: 100% 100%;
  background-size: cover;
  margin-top: 114px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
   background-image: url('../img/desktop/promo-background@2x.webp');
  }
}

.promo__wrapper {
  padding-top: 190px;
  padding-bottom: 280px;
  // padding-left: 475px;

  h1 {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #f2f5f6;
    margin: 0;
    margin-bottom: 31px;
  }

  p {
    color: #f2f5f6;
    font-size: 22px;
    line-height: 1.55;
    width: 685px;
    margin: 0;
    margin-bottom: 48px;
  }

  a {
    display: inline-block;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #f2f5f6;
    background-color: #00B2FF;
    border: none;
    border-radius: 3px;
    padding: 17px 27px;
    cursor: pointer;
    user-select: none;

    &:hover,
    &:focus,
    &:active {
      background-color: #0098ff;
    }
  }
}

.promo__get-text {
  &--mobile {
    display: none;
  }
}

@media (max-width: 1023px) {
  .promo {
    background-image: url('../img/tablet/promo-background.jpg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
     background-image: url('../img/tablet/promo-background@2x.webp');
     background-size: cover;
    }
  }

  .promo__wrapper {
    padding-top: 85px;
    padding-bottom: 205px;
    padding-left: 50px;

   h1 {
      font-size: 64px;
      line-height: 75px;
      letter-spacing: 0.07em;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 58px;
      width: auto;
    }

    a {
      margin-left: 45px;
    }
  }
}

@media (max-width: 767px) {
  .promo {
    background-image: url('../img/mobile/promo-background.jpg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
     background-image: url('../img/mobile/promo-background@2x.webp');
     background-size: cover;
    }
  }

  .promo__wrapper {
    padding-top: 86px;
    padding-bottom: 190px;
    padding-left: 25px;

    h1 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
    line-height: 155%;
    margin-bottom: 45px;
  }

  a {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    margin-left: 0;
    padding: 12px;
  }
  }

  .promo__get-text {
    display: none;

    &--mobile {
      display: block;
      text-align: center;
    }
  }
}