.social {
	@include reset-list;
	display: flex;
	gap: 25px;
	margin-left: 15px;
  flex-wrap: wrap;
}

.social__link {
	user-select: none;
}

@media (max-width: 1919px) {
	.social {
		max-width: 50%;
		gap: 10px 25px;
	}
}

@media (max-width: 769px) {
	.social {
		margin: 0;
	}
}

