/* fonts */
$primary-font: "PT Mono", "Courier New", monospace;
$secondary-font: "Roboto Condensed", "Arial", sans-serif;

/* retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* media queries */
$desktop-width: 1920px;
$tablet-width: 770px;
$mobile-width: 320px;